@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* min-height: 100vh; */
    background: #23242a;
}

.box{
    position: fixed;
    width: 1360px;
    height: 76px;
    background: black;
    border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content: '';
    position: fixed;
    top: -100%;
    left: -100%;
    width: 1349px;
    height: 76px;
    background: linear-gradient(0deg,transparent,#45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 8s linear infinite;
}



@keyframes animate {
    0%{
        transform: rotate(0deg);
    }    
    100%{
        transform: rotate(360deg);
    }
}

.form{
    position: fixed;
    background: #8645ff;
    height: 68px;
    width: 1349px;
    border-radius: 8px;
    inset: 4px;
    padding: 10px 10px;
    z-index: 10px;
    display: flex;
    flex-direction: column;
}

.logo{
    overflow: hidden;
    position: absolute;
    top: 80px;
}

/* .box::after{
    content: '';
    position: fixed;
    top: -50%;
    left: -50%;
    width: 1349px;
    height: 208px;
    background: linear-gradient(0deg,transparent,#45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
} */